body{
    background-color: #b63d55;
    color:#ffe5e5;
    font-family: Verdana, sans-serif;
}
div ol li{
    list-style-type: none;
    float: left;
    border: 2px ridge #992139;
    text-align: center;
    background-color: #f19aab;
    margin: 12px 10px;
    margin-bottom: 1px;
    padding: 10px 15px;
}
h1,h2,h3,h4{
    font-family: Gabriola, sans-serif;
}
#header{
    border: 5px solid #b63d55;
    padding: 0 50px 0 140px;
    margin: 0 0 34px;
    font-size: 28px;
}

#navigation{
    display: block;
    overflow: auto;
    border-bottom: 3px solid #73071c;
}

#navigation a{
    text-decoration: none;
    color: #000;
    padding: 5px;
}

#navigation a:hover,li:hover{
    background-color: #c52141;
    color: #fff;
}

th, td{
    border:1px solid #d64763;
    padding: 5px;
}

tr:hover{
    background-color: #ee6f88;
}
th{
    background-color: #d8667d;
}
label{
    font-weight: bold;
}

.loginform{
    text-align:center;
    border:thin solid #484842;
    width:18%;
    margin:10px auto;
    padding-bottom: 30px;
    background-color:#f59bad;
}

.btn{
    color: #f19bac;
    font-size: 14px;
    padding:10px 10px 10px 10px;
    background: #992139;
    text-decoration: none;
    border:0;
}

#error{
    padding: 10% 10% 0 10%;
}

form h2{
    margin-top: 0;
}

#products{
    padding: 3%;
}

#footer{
    margin-top: 50px;
    border-top: 1px solid #ffe5e5;
    font-size: 11px;
    text-align: center;
}

#footer p{
    padding: 50px;
}

#footer a{
    color: white;
}
